---
layout: home
permalink: /
meta_description: >
  Vous guide tout au long du processus de transformation de vos idées en produits digitaux concrets. Mon expertise englobe un large éventail d'applications, allant des divertissements interactifs aux solutions métier, où l'expérience utilisateur occupe une place centrale dans chaque étape de la conception.

meta_keywords: Application métier, Jeu vidéo, Serious game, Développement, UX, UI, Design, Web

slider:
  title: Gilles Boisson
  legend: Concepteur d'expérience digital &amp;<br>D&eacute;velopeur
  image: /assets/images/gilles-boisson.jpg
  content: >
    Vous guide tout au long du processus de transformation de vos idées en produits digitaux concrets. Mon expertise englobe un large éventail d'applications, allant des divertissements interactifs aux solutions métier, où l'expérience utilisateur occupe une place centrale dans chaque étape de la conception.
---

{% include experience.html %}
{% include portfolio.html %}
{% include canum.html %}
{% include contact.html %}