<section id="section-canum" class="page-section">
    <div class="container">
    <div class="row mx-0 align-items-stretch"> 
        <div class="col-md-6 d-flex mb-4 align-items-center justify-content-center">
            <h3 class="d-none">Les Canumériques</h3>
            <img class="canum-logo" src="/assets/images/les-canumeriques-logo.svg">
        </div>
        <div class="col-md-6">
            <p>
                Je suis basé à Lyon et je travaille partout en France et à l'étranger. Parce que je pense qu'en tant que professionnel du numérique nous ne pouvons pas travailler seul, je suis membre actif et capitaine au sein du collectif lyonnais Les Canumériques.
            </p>
            <p>
Les Canumériques est une communauté d'experts du numérique regroupant une variété de compétences, allant du développement web et des applications au marketing digital, en passant par la communication, la direction artistique, le design UI/UX, et la gestion de projet digital. Les Canumériques représentent la fusion parfaite entre la flexibilité des freelances et les avantages d'une agence, accompagnant ainsi leurs clients dans la création ou la maintenance de leurs projets digitaux.
            </p>

            <p><a href="https://lescanumeriques.fr/" title="Les Canumériques">Plus d'information sur le site internet du collectif</a></p>
        </div>
    </div>
</div>
</section>