<div id="section-contact" class="pt-0">

    <div class="row mx-0 align-items-stretch">
        <div class="col-lg-6 d-md-block px-0">
            <div class="h-100 marker-map" data-coord="{{ site.data.contact.coords.lat}},{{ site.data.contact.coords.lng }}" ></div>


        </div>
        <div class="col-lg-6 bg-contrast-100">
            <div class="col-padding">
                <h3 class="font-body fw-normal ls-1">Contact</h3>

                <div style="font-size: 16px; line-height: 1.7;">
                    <address style="line-height: 1.7;">
                        <strong>Les bureaux:</strong><br>

                        {% for address in site.data.contact.office_address %}
                        {{ address }}<br>
                        {% endfor %}

                    </address>

                    <div class="clear mt-4"></div>

                    <address style="line-height: 1.7;">
                        <strong>La société:</strong><br>
                        <!-- {{ site.data.contact.company_name }}<br>
                        {% for address in site.data.contact.headquarter_address %}
                        {{ address }}<br>
                        {% endfor %} -->
                    </address>

                    <div class="clear mt-5"></div>

                    <abbr title="Adresse email"><strong>Email:</strong></abbr> <a href="mailto:{{ site.data.contact.email }}">{{ site.data.contact.email }}</a>
                    
                    {% for sm in site.data.contact.social_media %}


                    <br><abbr title="{{ sm.title }}"><strong>{{ sm.title }}:</strong></abbr> <a href="{{ sm.url }}">{{ sm.url }}</a>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>