<section id="section-experience" class="pt-0">

    <div class="pt-6 pb-6" >
        <div class="container">
            <div class="mx-auto text-center" style="max-width: 900px;">
                <h2 class="mb-0 fw-light ls-1">Experience</h2>
            </div>
        </div>
    </div>
    <div class="container">
        
        <div class="row">
            <div class="col-lg-8 offset-lg-2" data-animate="fadeInUp">
                {% for exp in site.data.experience %}

                
                <div class="experience-item" >
                    <div class="row">
                        <div class="col-3">
                            <h4>{{ exp.year }}</h4>
                        </div>
                        <div class="col-9" >
                            <h3 class="text-black-50 fw-light">{{ exp.title }}</h3>
                            <p>{{ exp.content }}</p>
                        </div>
                    </div>
                    
                    
                </div>
                {% endfor %}
            </div>
        </div>


    </div>

</section>	