<section id="section-home" class="slider-element slider-parallax min-vh-100 include-header" style="background: #FFF url('/assets/images/motif-banner.jpg') no-repeat right top / auto 100%;">
    <div class="slider-inner">
        <div class="container py-5">

            <div class="row align-items-center mt-4 h-100">
                <div class="col-md-6 order-2 order-md-1 my-5 my-md-0 text-center text-md-start">
                    <div class="heading-block border-bottom-0 mb-4">
                        <h2 class="fw-bold text-transform-none" data-animate="fadeInUp" data-delay="200" style="font-size: 48px; letter-spacing: -1px;">{{ page.slider.title }} </h2>
                        <h4 class="text-uppercase ls-4 text-black-50 fw-light mb-2" data-animate="fadeInUp" data-delay="100">{{ page.slider.legend }} </h4>
                        
                    </div>
                    <p class="mb-5 lead" data-animate="fadeInUp" data-delay="400" style="line-height: 1.7;">{{ page.slider.content }}</p>
                    
                    
                    <!-- <a href="#" data-scrollto="#section-about" data-offset="70"  data-animate="fadeInUp" data-delay="600" class="button m-0 button-circle button-large text-white" style="background-color: #E25B45;">Get Started <i class="bi-arrow-right"></i></a> -->
                </div>

                <div class="col-md-6 order-1 order-md-2">
                    <div style="text-align: center;">
                    <div class="rounded-face" data-animate="fadeInUp" data-delay="600">
                        <img src="{{ page.slider.image }}" style="border-radius: 50%; overflow: hidden" class="rounded" alt="Cinque Terre">
                    </div>
                    </div>
                    <!-- <img src="/assets/one-page/images/page/yoga/yoga.svg" alt="Yoga Image"  data-animate="fadeInUp slow" data-delay="600"> -->
                </div>

            </div>
        </div>
    </div>
</section><!-- #slider end -->